@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";
@font-face {
   font-family: "Jeju Gothic";
   src: url(../fonts/JejuGothic.ttf) format("truetype");
}
img {
   max-width: 100%;
   height: auto;
}
input[type="password"] {
   font-family: "Courier New", Courier, monospace;
}

body {
   background-color: #fafafa;
}
